<div class="app-container">
  <mat-toolbar>
    <span>Turing Machine Simulator - UNIFOR</span>
  </mat-toolbar>

  <div class="machine-body">
    <div class="reader-container">
      <div class="message" *ngIf="!fileImported">
        Import a file to begin.
      </div>
      <div class="message" *ngIf="fileInvalid">
        The file you attempted to import wasn't valid.
      </div>
      <div class="info-display" *ngIf="fileImported && !fileInvalid">
        <div class="static-info">
          <div>Name: {{fonte.$nome}}</div>
          <div>Accepted States: {{fonte.$estadosFinais}}</div>
        </div>
        <div class="realtime-info">
          <div>Current State: {{estadoAtual}}</div>
          <div>Next State:
            <span *ngIf="proximaInstrucao !== undefined; else finishedRun">{{proximaInstrucao.$proximoEstado}}</span>
          </div>
          <div>Reading: {{fonte.$fita[slotAtual]}}</div>
          <div>Writing:
            <span *ngIf="proximaInstrucao !== undefined; else finishedRun">{{proximaInstrucao.$novoCaractere}}</span>
          </div>
          <div>Next Movement:
            <span *ngIf="proximaInstrucao !== undefined; else finishedRun">{{proximaInstrucao.$movimento}}</span>
          </div>
          <ng-template #finishedRun>None</ng-template>
        </div>
      </div>
    </div>

    <div #fitaContainer class="fita-container">
      <div class="pointer-track">
        <div #pointer class="pointer">
          <mat-icon>arrow_downward</mat-icon>
        </div>
      </div>
      <div class="slots-container">
        <div class="slot" *ngFor="let slot of fonte.$fita">
          {{slot}}
        </div>
      </div>
    </div>

    <div class="buttons-container">
      <button mat-raised-button (click)="run()" [disabled]="!fileImported || fileInvalid || machineRunning || machineFinished">Run</button>
      <button mat-raised-button color="warn" (click)="stop()" [disabled]="!machineRunning">Stop</button>
      <button mat-raised-button (click)="reset()" [disabled]="machineRunning || machineInitialState">Reset</button>
    </div>

    <div class="file-container">
      <input #txtInput hidden="true" type="file" onclick="this.value=null" (change)="readData($event)" accept=".txt" />
      <button mat-raised-button color="primary" (click)="txtInput.click()" [disabled]="machineRunning">Import File</button>
    </div>
  </div>

  <mat-toolbar>
    Alunos: Divaldo Aderaldo de Oliveira Júnior (1810534), Mario Massari (1810538)
  </mat-toolbar>

  <div class="loading-container" *ngIf="loading">
    <div class="loading-box">
      Loading...
    </div>
  </div>
</div>
